<%= stylesheet_link_tag 'users', :media => "all" %>


<h1 class="top">ユーザー詳細</h1>

<p><span>Email:</span>  <%= @user.email %></p>

<hr>

<h2>ツイート一覧</h2>
<% @user.tweets.each do |t| %>
    <p><%= t.body %></p>
<% end %>

<% if @user.id == current_user.id %>

<% else %>
  <% if @isRoom == true %>
    <p><a href="/rooms/<%= @roomId %>">チャットへ</a>
  <% else %>
    <%= form_for @room do |f| %>
      <%= fields_for @entry do |e| %>
        <%= e.hidden_field :user_id, :value=> @user.id %>
      <% end %>
      <%= f.submit "チャットを始める" %>
    <% end %>
  <% end %>
<% end %>
